## 16 feb assignment

Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of data that is organized in a way that allows for efficient storage, retrieval, and management of data. It is used to store and manage structured data such as text, numbers, and dates.

SQL and NoSQL databases are two different types of database management systems that differ in their data models, scalability, and usage.

SQL databases, also known as relational databases, are based on a structured query language (SQL) that is used to manage and manipulate data stored in tables. These databases are organized into tables with a defined schema and support ACID transactions, making them suitable for applications that require complex queries, strong consistency, and data integrity. Examples of SQL databases include MySQL, PostgreSQL, and Oracle.

NoSQL databases, on the other hand, are non-relational databases that use a variety of data models, such as document, key-value, graph, and column-family. These databases are designed to handle large volumes of unstructured and semi-structured data, and they provide high scalability, availability, and performance. They are suitable for applications that require distributed architectures, high availability, and flexible data models. Examples of NoSQL databases include MongoDB, Cassandra, and Redis.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) that is used to define the structure of a database, including tables, indexes, constraints, and other database objects.

CREATE: This command is used to create a new database object such as a table, index, or view. For example, to create a new table called "employees" with columns for name, age, and salary, the following SQL statement can be used

CREATE TABLE employees (
    name VARCHAR(50),
    age INT,
    salary DECIMAL(10, 2));

DROP: This command is used to delete a database object, such as a table or index. For example, to drop the "employees" table, the following SQL statement can be used:

SQL QUERY

DROP TABLE employees;

ALTER: This command is used to modify the structure of an existing database object. For example, to add a new column called "department" to the "employees" table, the following SQL statement can be used:

SQL QUERY

ALTER TABLE employees ADD COLUMN department VARCHAR(50);

TRUNCATE: This command is used to delete all the data in a table while keeping the table structure intact. For example, to delete all the data in the "employees" table, the following SQL statement can be used:

SQL QUERY

TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

 DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) that is used to manipulate data stored in a database. DML commands include INSERT, UPDATE, DELETE, and SELECT. Here, I will explain the INSERT, UPDATE, and DELETE commands with examples.

INSERT: This command is used to insert new data into a table. For example, to insert a new record into a "students" table with values for name, age, and gender, the following SQL statement can be used:

SQL QUERY

INSERT INTO students (name, age, gender) VALUES ('Pintu', 20, 'Male');

UPDATE: This command is used to update existing data in a table. For example, to update the age of a student with the name "NAMDEV" to 21, the following SQL statement can be used:

SQL QUERY

UPDATE students SET age = 21 WHERE name = 'NAMDEV';

DELETE: This command is used to delete data from a table. For example, to delete a record from the "students" table where the name is "Tukaram", the following SQL statement can be used:

SQL QUERY

DELETE FROM students WHERE name = 'Tukaram';

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) that is used to retrieve data from a database. The most commonly used DQL command is SELECT, which is used to retrieve data from one or more tables in a database based on specified criteria.

Suppose we have a table named "employees" with columns for name, age, salary, and department. We want to retrieve the names and salaries of all employees who work in the "Sales" department and earn more than 50,000 per year. We can use the following SQL statement:

SELECT name, salary FROM employees WHERE department = 'Sales' AND salary > 50000;

Q5. Explain Primary Key and Foreign Key.

 Primary Key and Foreign Key are two important concepts in database design that are used to establish relationships between tables in a database.

A Primary Key is a column or a combination of columns in a table that uniquely identifies each row in the table. The primary key is used to enforce data integrity and ensure that each row in the table is unique. For example, in a table of students, the student ID number could be used as the primary key since each student has a unique ID number. A table can have only one primary key.

A Foreign Key is a column or a combination of columns in a table that refers to the primary key of another table. The foreign key establishes a relationship between the two tables and is used to enforce referential integrity. For example, if we have a table of courses and a table of students, we can use a foreign key in the courses table to refer to the student ID in the students table. This ensures that each course in the courses table is associated with a valid student in the students table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Establishing a connection to the MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Creating a cursor object to interact with the database
mycursor = mydb.cursor()

# Executing a query
mycursor.execute("SELECT * FROM customers")

# Fetching the results of the query
result = mycursor.fetchall()

# Printing the results
for row in result:
  print(row)

Once we have established a connection, we create a cursor object using the cursor() method of the database connection. The cursor is used to execute SQL statements and retrieve the results.

We then execute a SELECT query using the execute() method of the cursor, passing in the SQL statement as a parameter. This statement fetches all rows from the "customers" table.

After executing the query, we fetch the results using the fetchall() method of the cursor. This method retrieves all the rows returned by the query.

Finally, we loop through the results and print each row.

In summary, the cursor() method creates a cursor object that is used to interact with the database, and the execute() method is used to execute SQL statements on the database through the cursor object.

Q7. Give the order of execution of SQL clauses in an SQL query.

In an SQL query, the order of execution of the SQL clauses is as follows:

    FROM clause: This clause specifies the table(s) from which the data is to be retrieved.

    JOIN clause: If the query involves more than one table, the JOIN clause is used to combine the data from different tables based on a common column.

    WHERE clause: This clause is used to filter the data based on specific conditions.

    GROUP BY clause: This clause is used to group the data based on one or more columns.

    HAVING clause: This clause is used to filter the grouped data based on specific conditions.

    SELECT clause: This clause is used to select the columns to be retrieved from the table(s).

    DISTINCT clause: This clause is used to remove duplicate rows from the results.

    ORDER BY clause: This clause is used to sort the results based on one or more columns.

    LIMIT/OFFSET clause: This clause is used to limit the number of rows returned or to skip a certain number of rows.